* {
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

.imgspace {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.content {
  padding: 25px 35px;
}

p {
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}

.title {
  font-size: 30px;
}

.sub-title {
  font-size: 25px;
}

body {
  width: 100%;
}
body main {
  max-width: 1240px;
  margin: auto;
  background: linear-gradient(#7da7ae 1%, #99c1d7 34%, #8db8bc 86%, #2f3d43 100%);
}
body main header {
  position: fixed;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: none;
}
body main header #logo {
  width: 250px;
  overflow: hidden;
}
body main header #logo img {
  max-width: 100%;
}
body main header #hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 11;
  cursor: pointer;
}
body main header #hamburger .hamburger-line {
  width: 30px;
  height: 4px;
  background-color: #1d1731;
  transition: all 0.3s linear;
}
body main header #hamburger .line1.change {
  transform: rotate(135deg) translate(10px, -12px);
}
body main header #hamburger .line2.change {
  transform: rotate(225deg) translate(-2px, -2px);
}
body main header #hamburger .line3.change {
  opacity: 0;
  transform: translateY(20px);
}
body main header #mainNavigation {
  height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-out;
  position: fixed;
  z-index: 10;
  top: 0;
}
body main header #mainNavigation ul {
  list-style-type: none;
  display: block;
  width: 50%;
  margin: 50px auto;
}
body main header #mainNavigation ul li {
  color: #1d1731;
  text-align: center;
  font-size: 25px;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 20px;
}
body main header #mainNavigation.change {
  height: 50vh;
  opacity: 1 !important;
  background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 960px) {
  body main #hero {
    display: grid;
  }
  body main #hero #heroImg-area {
    grid-column: 1/-1;
    grid-row-start: 1;
  }
  body main #hero #hero-content {
    grid-column: 1/-1;
    grid-row-start: 1;
    place-self: center start;
  }
}
body main #features {
  margin-top: 100px;
}
body main #features ul {
  list-style-type: none;
}
body main #features ul li {
  margin-top: 15px;
}
@media screen and (min-width: 960px) {
  body main #features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  body main #features .title {
    grid-column: 1/-1;
    text-align: center;
  }
  body main #features #features-content {
    grid-column: 1/-1;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: inherit;
  }
  body main #features #features-content #features-list {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: inherit;
  }
  body main #features #features-content #features-list ul {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: inherit;
    place-items: center center;
  }
  body main #features #features-content #features-list ul li {
    max-width: 250px;
  }
  body main #features #features-content #features-list ul li:nth-child(1), body main #features #features-content #features-list ul li:nth-child(2), body main #features #features-content #features-list ul li:nth-child(3) {
    grid-column: 1/2;
  }
  body main #features #features-content #features-list ul li:nth-child(4), body main #features #features-content #features-list ul li:nth-child(5), body main #features #features-content #features-list ul li:nth-child(6) {
    grid-column: 3/4;
    place-self: center center;
  }
  body main #features #features-content #features-list ul li:nth-child(1), body main #features #features-content #features-list ul li:nth-child(4) {
    grid-row-start: 1;
  }
  body main #features #features-content #features-list ul li:nth-child(2), body main #features #features-content #features-list ul li:nth-child(5) {
    grid-row-start: 2;
  }
  body main #features #features-content #features-list ul li:nth-child(3), body main #features #features-content #features-list ul li:nth-child(6) {
    grid-row-start: 3;
  }
  body main #features #featuresImg-area {
    grid-row-start: 2;
    z-index: 3;
    grid-column: 2/3;
  }
}
body main #colours #colour-select {
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main #colours #colour-select ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
body main #colours #colour-select ul li .colour-block {
  width: 30px;
  height: 30px;
  background-color: #000;
}
body main #order {
  margin-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 80%);
}
body main #order .button {
  display: block;
  margin: auto;
  width: 350px;
  text-align: center;
  text-decoration: none;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 15px 35px;
  background-color: #fc3a52;
  border-radius: 10px;
  border: 8px solid #d66778;
  color: #e6e1db;
  margin-bottom: 100px;
}
body main #order #orderInfo {
  margin: auto;
}
body main #order #orderInfo ul {
  list-style-type: none;
}
body main #order #orderInfo ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #order #orderInfo ul li p {
  text-align: center;
}
@media screen and (min-width: 960px) {
  body main #order #orderInfo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
