@import 'vars';

*{
    padding: 0;
    margin: 0;
}

.hide{
    display: none;
}

.imgspace{
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

.content{
    padding: 25px 35px;
}

p{
    font-size: 18px;
    font-family: $font-style;
}

.title{
    font-size: 30px;
}

.sub-title{
    font-size: 25px;
}

.imgspace{
    img{
        max-width: 100%;
    }
}



body{
    width: 100%;

    main{
        max-width: 1240px;
        margin: auto;
        //background: linear-gradient($gradient1 1%, $gradient2 34%, $gradient3 86%, $gradient4 100%);
        background-color: #fff;


        

        header{
            // height: 55px;
            position: fixed;
            // min-width: 100%;
            width: 95%;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            background-color: $header-bckgd;

            #logo{
                width: 250px;
                overflow: hidden;

                img{
                    max-width: 100%;
                }
            }

            #hamburger{
                width: 30px;
                height: 30px;
                display: flex;
                //justify-self: flex-end;
                flex-direction: column;
                justify-content: space-between;
                position: relative;
                z-index: 11;
                cursor: pointer;

                .hamburger-line{
                    width: 30px;
                    height: 4px;
                    background-color:$hamburger;
                    transition: all 0.3s linear;
                }

                .line1.change{
                    transform: rotate(135deg) translate(10px, -12px);
                }

                .line2.change{
                    transform: rotate(225deg) translate(-2px, -2px);
                }

                .line3.change{
                    opacity: 0;
                    transform: translateY(20px);
                }
            }

            #mainNavigation{
                height: 0;
                width: 100%;
                opacity: 0;
                transition: all 0.4s ease-out;
                position: fixed;
                z-index: 10;
                top: 0;

                ul{
                    list-style-type: none;
                    display: block;
                    width: 50%;
                    margin: 50px auto;

                    li{
                        color: $nav-links;
                        text-align: center;
                        font-size: 25px;
                        font-family: $font-style;
                        margin-top: 20px;
                    }
                }
            }

            #mainNavigation.change{
                height: 50vh;
                opacity: 1 !important;
                background-color: $nav-bckgd;
            }
        }


//------------------------------
//-------HERO SECTION-----------
//------------------------------
        #hero{

            @media #{$desktop}{
                display: grid;

                #heroImg-area{
                    grid-column: 1 / -1;
                    grid-row-start: 1;
                }

                #hero-content{
                    grid-column: 1 / -1;
                    grid-row-start: 1;
                    place-self: center start
                    
                }
            }
        }
//------------------------------
//------FEATURES SECTION--------
//------------------------------

        #features{

            margin-top: 100px;
            ul{
                list-style-type: none;

                li{
                    margin-top: 15px;
                }
            }

            @media #{$desktop}{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                    .title{
                        grid-column: 1 / -1;
                        text-align: center;
                    }

                    #features-content{
                        grid-column: 1 / -1;
                        grid-row-start: 2;
                        display: grid;
                        grid-template-columns: inherit;
                    
                        #features-list{
                            grid-column: 1 / -1;
                            display: grid;
                            grid-template-columns: inherit;
                            ul{
                                grid-column: 1 / -1;
                                display: grid;
                                grid-template-columns: inherit;
                                place-items: center center;

                                li{
                                    max-width: 250px;
                                    &:nth-child(1), &:nth-child(2), &:nth-child(3){
                                        grid-column: 1 / 2;
                                        // place-self: center center;
                                    }

                                    &:nth-child(4), &:nth-child(5), &:nth-child(6){
                                        grid-column: 3 / 4;
                                        place-self: center center;
                                    }

                                    &:nth-child(1), &:nth-child(4){
                                        grid-row-start: 1;
                                    }

                                    &:nth-child(2), &:nth-child(5){
                                        grid-row-start: 2;
                                    }

                                    &:nth-child(3), &:nth-child(6){
                                        grid-row-start: 3;
                                    }
                                }
                            }
                        }
                    }
               

                #featuresImg-area{
                    grid-row-start: 2;
                    z-index: 3;
                    grid-column: 2 / 3;
                }
            }
        }

//------------------------------
//-------COLOURS SECTION--------
//------------------------------

        #colours{
            
            #colour-select{
                margin: auto;
                width: 75%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    li{

                        .colour-block{
                            width: 30px;
                            height: 30px;
                            background-color: #000;
                        }

                    }
                }

               
            }
        }


//------------------------------
//-------ORDER SECTION----------
//------------------------------

        #order{

            margin-top: 100px;
            background: linear-gradient($footer2 20%, $footer1 80%);

            .button{
                display: block;
                margin: auto;
                width: 350px;
                text-align: center;
                text-decoration: none;
                font-family: $font-style;
                padding:15px 35px;
                background-color: $bmain-color;
                border-radius: 10px;
                border: 8px solid $bborder-color;
                color: $bfont-color;
                margin-bottom: 100px;
            }

            #orderInfo{
                margin: auto;

                ul{
                    list-style-type: none;

                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .icon{
                            display: flex;
                            justify-content: center;
                            i{
                                color: #999;
                                //text-align: center;
                                font-size: 50px;
                    
                            }
                        }

                        p{
                            text-align: center;
                            color: #999;
                        }
                    }
                }
            }

            @media #{$desktop}{
                #orderInfo{

                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 75%;
                        margin: auto;

                    }
                }
            }
        }
    }
}
